@page "/scenario/1"
@attribute [Authorize]
@inject AudioService Audio
@inject NavigationManager Navigation
@inject ScenarioService Scenario
@inject IJSRuntime JS

<h1>Kwaliteitsprotocol 7B</h1>
<h3>Scenario 1 – Melkcontrole</h3>
<h5>Routinecontrole – Silo 3</h5>

<p>Voer een visuele inspectie uit van de melkmonsters.</p>
<p>Let op afwijkingen in kleur, temperatuur en lichtreflectie.</p>
<p>Monster #17 toont een lichte UV‑afwijking. Noteer volgens protocol.</p>

<img src="@ImagePath" />
<button @onclick="Play">▶ Speel audio</button>

@if (CurrentPhase >= ScenarioPhase.Question)
{
    <p>@Question.Text</p>
    @foreach (var answer in Question.Answers)
    {
        <button @onclick="() => ProvideAnswer(answer)" @key="answer">@answer.Text</button>
    }

    <p class="invalid @InvalidNoticeClass">Onjuist volgens Kwaliteitsprotocol 7B. Let op: afwijkende keuzes worden gelogd.</p>
    <p class="valid @ValidNoticeClass">Correct volgens Kwaliteitsprotocol 7B.</p>
    @if (CurrentPhase == ScenarioPhase.Results && CurrentAnswer is { IsCorrect: true })
    {
        <p>@Question.ResultValue</p>
    }
}

@code {
    public Answer? CurrentAnswer { get; private set; }
    public ScenarioPhase CurrentPhase { get; private set; } = ScenarioPhase.Idle;
    public string ImagePath => CurrentPhase switch
    {
        ScenarioPhase.Glitch => "img/sc1_glitch.png",
        _ => "img/sc1_normal.png"
    };
    public string? InvalidNoticeClass => CurrentAnswer?.IsCorrect is false ? "invalid" : null;
    public Question Question { get; } = new("Welke parameter wijkt het meest af van de standaardwaarden?",
    [
        new("<strong>A.</strong> Vetpercentage"),
        new("<strong>B.</strong> Temperatuur"),
        new("<strong>C.</strong> UV‑reflectiepatroon", IsCorrect: true),
        new("<strong>D.</strong> pH‑waarde"),
    ], ResultValue: 9);
    public string? ValidNoticeClass => CurrentAnswer?.IsCorrect is true ? "valid" : null;

    public async Task Play()
    {
        await Audio.Speak("sc1-speech", "Dit is een lichte variatie binnen de toegestane marges. Noteer afwijking als niet‑kritiek.", duration: 6000);
        CurrentPhase = ScenarioPhase.Glitch;
        StateHasChanged();

        await Task.Delay(500);
        CurrentPhase = ScenarioPhase.Question;
        StateHasChanged();
    }

    public async Task ProvideAnswer(Answer answer)
    {
        CurrentAnswer = answer;
        if (answer.IsCorrect)
        {
            CurrentPhase = ScenarioPhase.Results;

            await Task.Delay(1000);
            CurrentPhase = ScenarioPhase.Completed;
            StateHasChanged();

            await Task.Delay(1000);
            await Scenario.MarkScenario(1, completed: true);
            await JS.InvokeVoidAsync("history.back");
        }
    }
}
